@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    text-decoration: none
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 30px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/fondoindex.jpeg'); /* Ruta de la imagen */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen se mantenga fija cuando haces scroll */
}

.header {
    background-color: #90a9a5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    z-index: 1000;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
  
.header .logo {
    cursor: pointer;
}
  
.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
  
.header .logo img:hover {
    transform: scale(1.1);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #ecf0ef;
}

.header .nav-links li a:hover{
    color:#ecf0ef;
}

.menu{
    display: none;
}

.header .btn button,
.header .menu button{
    font-weight: 700;
    color: #eceff1;
    padding: 3px 15px;
    background: #5e6d6b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.header .menu button{
    font-size:15px;
}

.header .btn button:hover,
.header .menu button:hover {
    background: #eceff1;
    color: #90a9a5;
    transform: scale(1.1);
}

.contacto {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  max-width: 800px;
  color: #5e6d6b;
  text-decoration: none;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.contacto img {
  margin-right: 0.5rem;
}

.cont-foto-txt .Publicacionesbtn button{
    font-size: 12px;
    color:white;
    padding: 3px 15px;
    background: #5e6d6b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cont-foto-txt .Publicacionesbtn button:hover{
    background: #eceff1;
    color: #90a9a5;
    transform: scale(1.1);
}

.cont-foto-txt .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #5e6d6b;
    overflow: hidden;
    transition: all 0.3s ease; /* Simplificado */
    opacity: 0.95; /* Usa valores entre 0 y 1 para opacidad */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%; /* Ajusta el ancho máximo del cuadro */
    max-height: 80%; /* Ajusta la altura máxima del cuadro */
    text-align: center;
}

.cont-foto-txt .overlay .overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-foto-txt .overlay a {
    padding: 15px;
    font-size: 24px;
    display: block;
    font-weight: 700;
    color: #90a9a5;
    transition: color 0.3s ease; /* Simplificado */
}

.cont-foto-txt .overlay a:hover, 
.cont-foto-txt .overlay a:focus {
    color: bisque;
}

.cont-foto-txt .overlay .close {
    position: absolute;
    top: 10px; /* Ajusta la posición del botón de cierre */
    right: 10px; /* Ajusta la posición del botón de cierre */
    font-size: 45px;
}

@media screen and (max-height: 800px) {
    .cont-foto-txt .overlay a {
        font-size: 14px;
    }
    .cont-foto-txt .overlay .close {
        font-size: 25px;
        top: 5px; /* Ajusta la posición del botón de cierre */
        right: 5px; /* Ajusta la posición del botón de cierre */
    }
}



@media screen and (max-width: 800px){
.nav-links, .btn {
    display: none;
}
.menu {
    display: inherit;
}
.header .logo img {
height: 40px;
width: auto;
}
.header {
    height: 55px;
    padding: 2px 10%;
    }
}

/*Nav*/

.header a{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    background-color: #5e6d6b;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    opacity: 95%;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 15px;
    font-size: 24px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #90a9a5;
}

.header .overlay a:hover, 
.header .overlay a:focus{
     color: bisque;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 45px;
}

@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.cont{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem ;
    display: flex;
    gap: 1rem;
}
.cont .cont-foto{
    background: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont h1{
   font-size: 16px;
    text-align:center;
    margin-bottom:5px;
}
.cont p,
.cont a,
.cont strong{
    font-size: 13px;
}

.cont .cont-foto h2{
    font-size: 15px;
}

.cont .cont-foto img {
    width: 20vw;
    height: 20vw;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.cont .cont-texto{
    color: #333;
    padding: 1rem;
    background: white;
    border-radius: 10px;
    text-align: justify;
}
.cont .cont-texto h1, .cont-texto p{
    margin-bottom: 1rem;
}

@media (max-width: 800px){
    .cont {
        flex-direction: column;
    }

    .cont-foto {
        flex: 1;
        text-align: justify;
        align-items: left;
    }

    .cont-texto {
        flex: 2;
    }
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
    z-index: 500;
}
.slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 13px;
    width: 13px;
    opacity: 0.5;

}
.slider-wrapper .swiper-pagination-bullet-active {
opacity: 1;
}

.swiper-pagination {
    bottom: auto !important;
    padding: 1rem;
}

.curso-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 1200px;
}

.cursos .cursos-item{
    color: #eceff1;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: #5e6d6baf;
    border: 1px solid #4c5a58;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cursos .cursos-item:hover{
    transform: scale(1.02);
}

.cursos .cursos-item .cursos-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #eceff1;
    padding: 4px;
}    
.cursos .cursos-item .cursos-desc{
    font-size: 0.8rem;
    color: #eceff1;
    font-weight: 500;
    margin: 14px 0 40px;
}

.cursos a{
    text-decoration: none;
    color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5) !important;
}

.cursos-nombre, .cursos-desc{
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5) !important;
}

@media screen and (max-width: 800px){
    .slider-wrapper {
        margin: 0 10px 40px;
    }
    /* Asegura que las flechas se mantengan visibles */
    .slider-wrapper .swiper-slide-button {
        display: flex; /* Asegura que las flechas sean visibles */
    }
    .swiper-button-next,
    .swiper-button-prev {
    font-size: 20px !important;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
    font-size: 20px !important;
    }
  }
